{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
<div class="container">    
    <h1>Liste des profils</h1>

    <table class="table table-striped table-hover table-md shadow-lg">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Code</th>
                <th>Voir</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.name }}</td>
                <td>{{ profile.codeProfile }}</td>
                <td>
                    <a href="{{ path('profile_show', {'id': profile.id}) }}"><i class="fas fa-eye PurpleHaze"></i></a>                   
                </td>
                <td>
                    <a href="{{ path('profile_edit', {'id': profile.id}) }}"><i class="fas fa-edit PurpleHaze"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class= "btn btn-default" href="{{ path('profile_new') }}"><i class="fas fa-plus"></i> Ajouter</a>
</div>
{% endblock %}
