{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <div class="container">
        {# Messages flash #}            
        <div class="invisible" id="response">
            <div class="alert alert-success">Vous avez attribué la note de <span class="badge badge-secondary" id="rank"></span> </div>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message}}
            </div>
            {% endfor %}
        </div>
        <div class="invisible" id="error">
            <div class="alert alert-danger"></div>            
        </div>
    </div>

    {# Invisible key #}
    <div class="invisible" id="key">{{ key }}</div>
    <div class="invisible" id="nbColumns">{{ nbColumns }}</div>
    <div class="invisible" id="projectName">{{ projectName }}</div>

    {# datatable and bottoms #}
    <div class="container">
        <h1 class="text-center VaderBlue">{{ projectName }}</h1>   
        <div class="mb-5 mx-5 text-right">
            <button type="button" class="btn btn-default previous"><i class="fas fa-step-backward"></i></button>
            <span class="" id="currentMonth">{{ currentMonth }}</span>
            <div class="btn btn-default next"><i class="fas fa-step-forward"></i></div>    
        </div>
        <table id="example" class="display" style="width:100%">
            <thead>           
                <tr>
                    <th>Poles</th>                               
                    {% for calendar in calendars %}
                        <th>{{ calendar }}</th>                    
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {# {% for row in activities %}
                <tr>
                    <td class="profile">{{ row.0 }}</td>                         
                    {% for Activity in row.1 %}
                        {% if Activity %}
                            <td class="edit-for" id = "{{ Activity.id }}">{{ Activity.rank }}</td>
                        {% else %}
                            <td class="edit-for" id = "0" ></td>
                        {% endif %}
                    {% endfor %}
                    <td class="trash"><i class="fas fa-trash-alt"></i></td>                    
                </tr>   
                {% endfor %}  #}
                {% set counter = 1 %}
                {% set row = 'row'%}               
                {% for pole in all %}
                    <tr class = "poleclickable bg-secondary text-white">
                        <td class>{{ pole.0 }}</td> 
                            {% for calendar in calendars %} 
                                <td></td>
                            {% endfor %}
                        <td><i class="fas fa-plus"></i></td>
                    </tr>
                    {% for rowProfile in pole.1 %}                                   
                    <tr class="child">
                        <td>{{ rowProfile.0 }}</td>
                        {% for activity in rowProfile.1%} 
                                <td class="edit-for" id= {{ activity ? activity.id:'' }}>{{ activity ? activity.rank : '' }}</td>
                        {% endfor %}
                        <td></td>                                           
                    </tr>
                    {% endfor %}                                  
                {% endfor %}
                



            </tbody>            
        </table>
        <button class="btn btn-default addRow mb-2" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>    
    </div>

{% endblock %}
