<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/style.css">
        {# <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> #}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.3/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.css"/>      
        {# <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"> #}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <link rel="sylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="mx-5 conteneurAll">
            {# Jumbotron #}
            <div class="container-fluid">
                <div class="jumbotron mt-3">
                    <h1 class="display-4">Gestion de projet</h1>
                    <p class="lead">Plannification de temps previsionnel</p>            
                </div>
            </div>           

            {# navbar #} 
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href={{ path('home') }}><i class="fas fa-home"></i><span class="ml-1">Accueil</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav"> 
                            <a class="nav-item nav-link" href={{ path('project_index') }}><i class="fas fa-project-diagram"></i><span class="ml-1">Projets</span></a>
                            <a class="nav-item nav-link" href={{path('collaborators_index')}}><i class="fas fa-user"></i><span class="ml-1">Collaborateurs</span></a>
                            <a class="nav-item nav-link" href={{path('pole_index')}}><i class="fas fa-th-large"></i><span class="ml-1">Poles</span></a>  
                            <a class="nav-item nav-link" href={{path('profile_index')}}><i class="fas fa-user"></i><span class="ml-1">Profils</span></a>
                            <a class="nav-item nav-link" href={{path('tjm_index')}}><i class="far fa-clock"></i><span class="ml-1">TJM</span></a>                   
                        </div>
                    </div>
                </nav>
            </div>
        {% block body %}{% endblock %}
        <div class="footer bg-dark">
            <p class= "text-white text-center"> <i class="far fa-copyright"></i> <span class="ml-1">Amiltone 2019 - Tous droits réservés </span> </p>
        </div>
        </div>

       <script src="https://code.jquery.com/jquery-3.3.1.js"></src>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {# <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> #}
        
        
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.3/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.19/api/column().title().js"></script>        
        <script src="https://kit.fontawesome.com/3d1ac31d35.js"></script>

        {# <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script> #}

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
                
        
        <script>
        $(document).ready(function() {
             


            // function slide down
            $(".child").hide();            
            $(".poleclickable").click(function(){
                $(this).closest('tr').nextUntil('.poleclickable').slideToggle();                
            });
            
            // $('#example tbody').on( 'click', 'tr', function () {                
            //    alert( table.row( this ).data() );
            //} );
            
            //function calcul
            //var total = 1;
            /* function calcAll(){
                // select a column
                $(".calculate-for").each(function (){
                    if (!isNaN(parseFloat($(this).val()))) {
                        qnty = parseFloat($(this).val());
                    }
                    var total += qnty;
                }
            } */
           
            
            //function Autocomplete Ajax
            $("#searchNameInput").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/project/search",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    log("Selected: " + ui.item.value + " aka " + ui.item.id);
                }
            });


            
            //function autocomplete search
            $(function (){
                 var projects = [
                    "Projet1",
                    "Projet2",
                    "Amilnote",
                    "Babiltone",
                    "CvGenerator"                    
                ];
                $( "#recherche" ).autocomplete({
                source: projects
                });
            });

            //function autocomplete search
            function autocomplete(){
                 var profiles = [
                    "Junior",
                    "Design",
                    "Lead",
                    "Confirmé",
                    "Projet Web",
                    "Projet Web",
                    "Projet mobile Android",
                    "Expert",
                    "Projet Mobile IOS",
                    "Projet Jira Interne 4",
                    "Projet Jira Externe",
                ];
                $( ".profile" ).autocomplete({
                source: profiles
                });
            };           
            
                    
                    
            
            //call functions on document Ready
            editable();
            empty();
            mouseLeave();
            tabNext();
            tabPrevious();
            autocomplete();
            //addClassEditFor();

            


            //Function editable
            function editable() {
                $("#example tbody").on("click", "td.edit-for, td.profile", function(){
                    $(this).css( "background-color", "#C6E2FF");                            
                    $(this).attr("contenteditable", "true");
                    $(this).focus();
                });
            }

            //Function Empty on DoubleClic
            function empty(){
                $("#example tbody").on( "dblclick", "td.edit-for, td.profile", function(){
                    $( this).empty();
                });
            }

            //Function Mouse leave
            function mouseLeave() {
                $("#example tbody").on( "mouseleave", "td.edit-for, td.profile", function(){
                    $( this).css( "background-color", "transparent");
                    //$('html,body').css('cursor','crosshair');
                    //$(this).attr('contenteditable', 'false');
                });
            }

            //Function Css on Tab
            function cssOnTab(nextOrPrevious){
                nextOrPrevious.css("background-color", "#C6E2FF");
                nextOrPrevious.attr("contenteditable", "true");                     
                nextOrPrevious.focus();
                nextOrPrevious
            }

            


            //Function tabNext
            function tabNext(){
                 $("#example tbody").on( "keydown", "td.edit-for", function(e){
                    var keyCode = e.keyCode || e.wich;                 
                    if ((e.keyCode === 9) || (e.keyCode === 39) || (e.keyCode === 13)) {
                        e.preventDefault();
                        $( this).css( "background-color", "transparent"); 
                        var nextOrPrevious = $(this).closest('td').next("td.edit-for");
                        cssOnTab(nextOrPrevious);

                        //Update on next, previous, enter                    
                        var rank = $(this).html();                                                       
                        var id = $(this).attr('id');                        
                        var emptyMonth = table.column(this).title();                                      
                        var projectName = $('#projectName').text(); 
                        var profileName = table.row($(this).parents('tr')).data()[0];                                               
                        var poleName = $(this).closest('tr').prevAll('.poleclickable').first().text();                                                                                                                                       
                                
                        $.ajax({
                            url:'/activity/update',
                            type: "POST",
                            dataType: "json",
                            data: {
                                "rank": rank,
                                "id": id,
                                "emptyMonth": emptyMonth,                            
                                "projectName": projectName,
                                "profileName": profileName,
                                "poleName": poleName
                            },
                            async: true,
                            success: function (data)
                            {
                                console.log(data);
                                $( '#rank' ).text(data.rank);
                                $('#response').addClass("visible").removeClass("invisible");;                       
                            }
                        });
                    }
                 })
            }   

            //Function tabPrevious    
            function tabPrevious(){
                $('#example tbody').on( "keydown", "td.edit-for", function(e){
                 var keyCode = e.keyCode || e.wich;                 
                if (e.keyCode === 37 ) {
                    e.preventDefault();
                    $( this).css( "background-color", "transparent");                   
                     var prev = $(this).closest('td').prev('td.edit-for');
                    cssOnTab(nextOrPrevious);                    
                    } 
                });
            }

            //Initialize var DataTable
            var table = $('#example').DataTable({                
                    //ajax:'/ajax',
                    "ordering": false,
                    "paging": false
                    
            });

            //delete row
             $('#example tbody').on('click', "td.trash", function () {
                if ( confirm( "Etes vous sûr de vouloir supprimer cette ligne ?" ) ) {
                     table
                        .row( $(this).parents('tr') )
                        .remove()
                        .draw();
                }               
            });
            

            //initialization 11 colums array
            var key = parseInt($('#key').text());
            var nbColumns = parseInt($('#nbColumns').text());         
            var range = parseInt(5);
            var keyRange = key+range;  
            
            
            for ( var i=1; i<nbColumns; i++ ){
               table.column( i ).visible( false, false );
            }
            for ( var i=key; i<keyRange; i++ ){
               table.column( i ).visible( true, true );               
            }
            
            //button next
            $(".next").on("click", function(e){
                e.preventDefault();

                for ( var i=1; i<nbColumns; i++){
                table.column( i ).visible( false, false );
                }

                if (keyRange<nbColumns){
                   key++;
                   keyRange++;     
                }

                for ( var i=key ; i<keyRange ; i++ ) {
                    table.column( i ).visible( true, true )
                }                
                table.columns.adjust().draw( false );
                var currentMonth = table.column( key ).title();
                $('#currentMonth').text(currentMonth);                
            });

            //button previous
            $(".previous").on("click", function(e){
                e.preventDefault();
                for ( var i=1; i<nbColumns; i++){
                table.column( i ).visible( false, false );
                }

                if (key>1) {
                   key--;
                   keyRange--;     
                }                               
                
                for ( var i=key ; i<keyRange ; i++ ) {
                    table.column( i ).visible( true, true );                   
                }
                table.columns.adjust().draw( false );
                var currentMonth = table.column( key ).title();
                $('#currentMonth').text(currentMonth);
            });


             //addRow
            $('.addRow').on( 'click', function (e) {
                e.preventDefault();

                //Rajouter la mise en mémoire du index, 
                //Puis rendre visible tout
                
                //initialization 11 colums array
                var key = parseInt($('#key').text());
                var nbColumns = parseInt($('#nbColumns').text());         
                var range = parseInt(5);
                var keyRange = key+range;  

                //Set all columns visible and Copy it
                for ( var i=1; i<nbColumns; i++ ){
                table.column( i ).visible( true, true );
                }

                //addRow + class
                var col = [""];
                for (i= 0; i<nbColumns-1; i++) {
                   col.push('');  
                }
                col.push('<i class="fas fa-trash-alt"></i>')              
                var rowNode = table.row.add(col).draw().node();
                
                $(rowNode).find('td').addClass('edit-for');
                $(rowNode).find('td').eq(-1).removeClass("edit-for").addClass("trash");                
                $(rowNode).find('td').eq(0).removeClass("edit-for").addClass("profile");
                autocomplete();

                //set all columns invisible and make visible from index
                for ( var i=1; i<nbColumns; i++ ){
               table.column( i ).visible( false, false );
                }
                for ( var i=key; i<keyRange; i++ ){
                table.column( i ).visible( true, true );               
                }
            });
        });
        </script>
        <script>
         $(document).ready(function() {
            var $collectionHolder;

            //add new items (experience forms)
            var $addNewItem = $('<a href="#" class="btn btn-info mt-4">Add new item</a>');        

            $(document).ready(function () {

                
                //getTheCollection Holder
                $collectionHolder = $("#exp_list");           

                //Append the add new item to the collection holder
                $collectionHolder.append($addNewItem);
                $collectionHolder.data('index', $collectionHolder.find('.card').length)

                //add remove button to existing items
                $collectionHolder.find('.card').each(function () {
                    addRemoveButtton($(this));
                })


                //handle the click event for addNew item
                $addNewItem.click(function (e) {
                    e.preventDefault();
                    //create a new form and append it to collectionHolder
                    addNewForm();
                })

            });

            function addNewForm() {
                //getting the prototype
                var prototype = $collectionHolder.data('prototype');

                //get the index
                var index = $collectionHolder.data('index')


                //create the form
                var newForm = prototype;

                newForm = newForm.replace(/_name_/g.index);


                $collectionHolder.data('index', index + 1);
                //create the card
                var $card = $("<div class= 'card card-warning'><div class='card-heading'></div></div>");

                //create the card body and append the form to it
                var $cardBody = $("<div class='card-body'></div>").append(newForm);

                //append the body to the card
                $card.append($cardBody);

                //append the remove button to the new card
                addRemoveButtton($card);

                //append the $card to the addNewItem
                $addNewItem.before($card);

            }

            //add new items (experience forms)


            //remove them

            function addRemoveButtton($card) {
                //create remove button
                var $removeButton = $("<a href='#' class='btn btn-danger'>Remove</a>");

                //appending the remove button to the card footer
                var $cardFooter = $("<div class='card-footer'></div>").append($removeButton);

                //handle the click eventg of the remove button
                $removeButton.click(function (e) {
                    e.preventDefault();
                    $(e.target).parents('.card').slideUp(1000, function () {
                        $(this).remove();
                    })
                });

                //append the footer to the card
                $card.append($cardFooter);
            }
         });
        </script>      
    {% block javascripts %}{% endblock %}
    </body>
</html>
