<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        {# <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> #}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.3/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.css"/>      
        {# <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"> #}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <link rel="sylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# navbar #}
        <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg justify-content-between navbar-white bg-VaderBlue">           
                <a class="navbar-brand" href={{ path('home') }}> <img src="{{ asset('build/images/logo_amiltone.0d871272.png') }}" width="auto" height="50" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown"> 
                            <a class="nav-link dropdown-toggle" href={{ path('project_index') }} id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-project-diagram"></i><span class="ml-1">Projets</span></a>
                            <div class="dropdown-menu bg-VaderBlue" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href={{ path('project_new') }}>Créer</a>
                                <a class="dropdown-item" href={{ path('project_index') }}>Liste</a>
                            </div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link text-white" href={{path('collaborators_index')}}><i class="fas fa-user"></i><span class="ml-1">Collaborateurs</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link text-white" href={{path('pole_index')}}><i class="fas fa-th-large"></i><span class="ml-1">Poles</span></a>  
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link text-white" href={{path('profile_index')}}><i class="fas fa-user"></i><span class="ml-1">Profils</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link text-white" href={{path('tjm_index')}}><i class="far fa-clock"></i><span class="ml-1">TJM</span></a>                   
                        </li>
                    </ul>                        
                </div>            
            </nav>
        </div>
        
        {# Search #} 
        {% set searchForm = form_search.getForm().createView() %}  
        <div class="jumbotron jumbotron-header ">
            <div class="container mt-5" id="search-panel"> 
                {# <h1 class="mb-5 text-center"><i class="fas fa-search VaderBlue"></i><span class="ml-1 VaderBlue">Trouvez un projet</span></h1>             #}
                {{ form_start(searchForm) }}
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-4">
                            {{ form_row(searchForm.date) }}
                        </div>
                        <div class="col-sm-1 mb-3 text-white">
                            <div>et / ou</div>
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(searchForm.name) }}
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <button type="submit" class="btn btn-search"><i class="fas fa-search text-white"></i><span class="ml-1 text-white">Rechercher</span></button>
                            </div>
                        </div>
                    </div>               
                {{ form_end(searchForm) }}
            </div>
        </div>
        


        
        <div class="mx-5 conteneurAll"> 
            {% block body %}{% endblock %}
        </div>
        <div class="footer custom-footer">
            <p class= "text-white text-center"> <i class="far fa-copyright"></i> <span class="ml-1">Amiltone 2019 - Tous droits réservés </span> </p>
        </div>        
       <script src="https://code.jquery.com/jquery-3.3.1.js"></src>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {# <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> #}
        
        
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.3/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.19/api/column().title().js"></script>        
        <script src="https://kit.fontawesome.com/3d1ac31d35.js"></script>

        {# <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script> #}

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

        
                
        
        <script>
        $(document).ready(function() {

            //Initialize                       
            calculateForOneRowClickable();
            update();
            autocomplete();
            

            //New function
            function calculateForOneRowClickable(){
                var row = 0,
                col = 0,
                ncol = 0;
                var sum;                
                var arrayRowToCalculate = $("activity tbody .poleclickable").nextUntil('.lastRow').add('tr');
                
                // sum by row                
                $(arrayRowToCalculate).each(function (rowindex) {
                    sum = 0;
                    col = 0;
                    $(this).find("td.edit-for").each(function (colindex) {
                        col++;
                        //newval = $(this).find("input").val();                     
                        //if (isNaN(newval)) {
                            //$(this).html(sum);
                            if (col > ncol) {
                                ncol = col - 1
                            }
                        //} else {
                        //  sum += parseInt(newval);
                    //}
                    });
                });
                // sum by col
                for (col = 2; col < ncol + 3; col++) {
                    console.log("column: " + col);
                    sum = 0;
                    $($(arrayRowToCalculate).get().reverse()).each(function (rowindex) {
                        $(this).find("td:nth-child(" + col + ")").each(function (rowindex) {
                            newval = $(this).find("input").val();
                            console.log(newval);
                            if ( (isNaN(newval)) && ($(this).hasClass("colSum")) ){
                                $(this).html(sum);
                                sum=0;
                            } else {
                                sum += parseInt(newval);
                            }
                        });
                    });
                }
            }
            //end of function

            //function slide down
            $(".child").hide();            
            $(".poleclickable").click(function(){
                $(this).closest('tr').nextUntil('.poleclickable').slideToggle();                              
            });
           
            
            //function Autocomplete Ajax
            $("#searchNameInput").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/project/search",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    log("Selected: " + ui.item.value + " aka " + ui.item.id);
                }
            });

            //function autocomplete search
            $(function (){
                 var projects = [
                    "Projet1",
                    "Projet2",
                    "Amilnote",
                    "Babiltone",
                    "CvGenerator"                    
                ];
                $( "#recherche" ).autocomplete({
                source: projects
                });
            });

            //function autocomplete search
            function autocomplete(){
                 var profiles = [
                    "Junior",
                    "Design",
                    "Lead",
                    "Confirmé",
                    "Projet Web",
                    "Projet Web",
                    "Projet mobile Android",
                    "Expert",
                    "Projet Mobile IOS",
                    "Projet Jira Interne 4",
                    "Projet Jira Externe",
                ];
                $( ".profile" ).autocomplete({
                source: profiles
                });
            };

             
            
                        

            //function
            function update(){
                $("#activity tbody :input").on("change paste", function(e){
                    
                    //function input value Regex                    
                    $('#response').removeClass("visible").addClass("invisible");

                    var error = 0;
                    var element = $(this);
                    var rank = parseInt(element.val());
                    var availableRank = [0,1,2,3,4,5,6,7,8,9];
                    if (jQuery.inArray(parseInt(rank), availableRank) ==-1){
                        var error = 1;
                        var errorMsg = 'Vous devez entrer un chiffre compris entre 1 et 9';
                        $('#response').text(errorMsg);
                        $('#response').addClass("visible alert alert-danger").removeClass("invisible");
                        $( this).focus();
                        $( this).addClass("text-danger");


                    } else { 
                        calculateForOneRowClickable();
                        //Update on next, previous, enter
                        var id = element.attr('id');                                                                                        
                        var emptyMonth = table.column(element.closest('td')).title();              
                        var projectName = $('#projectName').text();
                        var profileName = table.row(element.parents('tr')).data()[0];                                                                                    
                        var poleName = element.closest('tr').next().prevUntil('tr.poleclickable').last().prev('tr').children().first().text();
                                
                        $.ajax({
                            url:'/activity/update',
                            type: "POST",
                            dataType: "json",
                            data: {
                                "rank": rank,
                                "id": id,
                                "emptyMonth": emptyMonth,                            
                                "projectName": projectName,
                                "profileName": profileName,
                                "poleName": poleName
                            },
                            async: true,
                            success: function (data)
                            {
                                console.log(data);
                                var successMsg = 'Vous avez atrtibué la note de ' + data.rank;
                                $('#response').text(successMsg); 
                                $('#response').addClass("visible alert alert-success").removeClass("invisible"); 
                            }
                        });
                    } 
                })                    
            }


            

            //Initialize var DataTable
            var table = $('#activity').DataTable({                
                    //ajax:'/ajax',
                    "ordering": false,
                    "paging": false
                    
            });

            
            

            //initialization 11 colums array
            var key = parseInt($('#key').text());
            var nbColumns = parseInt($('#nbColumns').text());         
            var range = parseInt(5);
            var keyRange = key+range;  
            
            
            for ( var i=1; i<nbColumns; i++ ){
               table.column( i ).visible( false, false );
            }
            for ( var i=key; i<keyRange; i++ ){
               table.column( i ).visible( true, true );               
            }
            
            //button next
            $(".next").on("click", function(e){
                e.preventDefault();

                for ( var i=1; i<nbColumns; i++){
                table.column( i ).visible( false, false );
                }

                if (keyRange<nbColumns){
                   key++;
                   keyRange++;     
                }

                for ( var i=key ; i<keyRange ; i++ ) {
                    table.column( i ).visible( true, true )
                }                
                table.columns.adjust().draw( false );
                var currentMonth = table.column( key ).title();
                $('#currentMonth').text(currentMonth);      
            });

            

            //button previous
            $(".previous").on("click", function(e){
                e.preventDefault();
                for ( var i=1; i<nbColumns; i++){
                table.column( i ).visible( false, false );
                }

                if (key>1) {
                   key--;
                   keyRange--;     
                }                               
                
                for ( var i=key ; i<keyRange ; i++ ) {
                    table.column( i ).visible( true, true );                   
                }
                table.columns.adjust().draw( false );
                var currentMonth = table.column( key ).title();
                $('#currentMonth').text(currentMonth);
            });


             //addRow
            $('.addRow').on( 'click', function (e) {
                e.preventDefault();

                //Rajouter la mise en mémoire du index, 
                //Puis rendre visible tout
                
                //initialization 11 colums array
                var key = parseInt($('#key').text());
                var nbColumns = parseInt($('#nbColumns').text());         
                var range = parseInt(5);
                var keyRange = key+range;  

                //Set all columns visible and Copy it
                for ( var i=1; i<nbColumns; i++ ){
                table.column( i ).visible( true, true );
                }

                //addRow + class
                var col = [""];
                for (i= 0; i<nbColumns-1; i++) {
                   col.push('');  
                }
                col.push('<i class="fas fa-trash-alt"></i>')              
                var rowNode = table.row.add(col).draw().node();
                
                $(rowNode).find('td').addClass('edit-for');
                $(rowNode).find('td').eq(-1).removeClass("edit-for").addClass("trash");                
                $(rowNode).find('td').eq(0).removeClass("edit-for").addClass("profile");
                autocomplete();

                //set all columns invisible and make visible from index
                for ( var i=1; i<nbColumns; i++ ){
               table.column( i ).visible( false, false );
                }
                for ( var i=key; i<keyRange; i++ ){
                table.column( i ).visible( true, true );               
                }
            });


            //delete row
             $('#activity tbody').on('click', "td.trash", function () {
                if ( confirm( "Etes vous sûr de vouloir supprimer cette ligne ?" ) ) {
                     table
                        .row( $(this).parents('tr') )
                        .remove()
                        .draw();
                }               
            });



        });
        </script>
        <script>
         $(document).ready(function() {
            var $collectionHolder;

            //add new items (experience forms)
            var $addNewItem = $('<a href="#" class="btn btn-info mt-4">Ajouter un TJM</a>');        

            $(document).ready(function () {
                
                //getTheCollection Holder
                $collectionHolder = $("#exp_list");           

                //Append the add new item to the collection holder
                $collectionHolder.append($addNewItem);
                $collectionHolder.data('index', $collectionHolder.find('.card').length)

                //add remove button to existing items
                $collectionHolder.find('.card').each(function () {
                    addRemoveButtton($(this));
                })

                //handle the click event for addNew item
                $addNewItem.click(function (e) {
                    e.preventDefault();
                    //create a new form and append it to collectionHolder
                    addNewForm();
                })

            });

            function addNewForm() {
                //getting the prototype
                var prototype = $collectionHolder.data('prototype');

                //get the index
                var index = $collectionHolder.data('index')

                //create the form
                var newForm = prototype;

                newForm = newForm.replace(/_name_/g.index);


                $collectionHolder.data('index', index + 1);
                //create the card
                var $card = $("<div class='card'></div>");

                //create the card body and append the form to it
                var $cardBody = $("<div class='card-body'></div>").append(newForm);

                //append the body to the card
                $card.append($cardBody);

                //append the remove button to the new card
                addRemoveButtton($card);

                //append the $card to the addNewItem
                $addNewItem.before($card);

            }

            function addRemoveButtton($card) {
                //create remove button
                var $removeButton = $("<a href='#' class='btn btn-danger'>Supprimer</a>");

                //appending the remove button to the card footer
                var $cardFooter = $("<div class='card-footer'></div>").append($removeButton);

                //handle the click eventg of the remove button
                $removeButton.click(function (e) {
                    e.preventDefault();
                    $(e.target).parents('.card').slideUp(1000, function () {
                        $(this).remove();
                    })
                });

                //append the footer to the card
                $card.append($cardFooter);
            }
         });
        </script>    
    {% block javascripts %}{% endblock %}
    </body>
</html>
