{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">            
            {# {{ include('project/_delete_form.html.twig') }} #}
            {{ form_row(form.name) }}
            {{ form_row(form.code) }}
            {{ form_row(form.startDate) }}
            {{ form_row(form.endDate) }}
            <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn btn-secondary" href="{{ path('project_index') }}">Retour à  la liste</a>

            {% import _self as formMacros %}
            {% macro printTjms(TjmsForm) %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <h5 class="card-title">
                                {{ form_row(TjmsForm.pole)}}
                            </h5>
                        </div>
                        <div class="col">
                            <h5 class="card-title">
                                {{ form_row(TjmsForm.amount)}}
                            </h5>
                        </div>
                    </div>    
                </div>
            </div>
            {% endmacro %}
             
            {# {{ include('project/_delete_form.html.twig') }} #}
        </div>
        <div class="col-md-6">
            <div class="col-sm-12 offset-1" id="exp_list" data-prototype="{{formMacros.printTjms(form.Tjms.vars.prototype)|e('html_attr')}}">        
            {% for TjmsForm in form.Tjms %}
                {{ formMacros.printTjms(TjmsForm) }}
            {% endfor %}
        </div>
    </div>    
    {# form.Tjms.vars.prototype     #}
    {# <div class="col-sm-8 col-sm-offset-4" id="exp_list" data-prototype="{{ form_widget(form.Tjms.vars.prototype|e('html_attr')) }}"> #}    
    
{{ form_end(form) }}
